@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h5>Concilers Info</h5>
    <div class="row">
        <div class="">
            <form action="CouncilInfo" method="post" enctype="multipart/form-data">
             <div class="row">
                   <div class="col m6 s12 input-field">
                       <input type="text" name ="title" >
                       <label for="">Titile</label>
                   </div>
               </div>
               <div class="row">
                   <div class="col m6 s12 input-field">
                       <input type="text" name ="FirstName"  >
                       <label for="">Conciler name</label>
                   </div>
               </div> 
                 <div class="row">
                   <div class="col m6 s12 ">
                       <label for="">photo</label>
                        <br>
                       <input type="file" name ="pic"  >
                   </div>
               </div>
                  <div class="row">
                   <div class="col m6 s12 input-field">
                       <input type="text" name ="SecondName"  >
                       <label for="">Conciler name</label>
                   </div>
               </div> 
                 <div class="row">
                   <div class="col m6 s12 ">
                       <label for="">photo</label>
                        <br>
                       <input type="file" name ="pic" >
                   </div>
               </div> 
                  <div class="row">
                   <div class="col m6 s12 input-field">
                       <input type="text" name ="TheirdName"  >
                       <label for="">Conciler name</label>
                   </div>
               </div> 
                 <div class="row">
                   <div class="col m6 s12 ">
                       <label for="">photo</label>
                        <br>
                       <input type="file" name ="pic"  >
                   </div>
               </div> 

               <div class="row">
                   <div class="col m6 s12 input-field">
                       <input type="text" name ="FourthName"  >
                       <label for="">Conciler name</label>
                   </div>
               </div> 
                 <div class="row">
                   <div class="col m6 s12 ">
                       <label for="">photo</label>
                        <br>
                       <input type="file" name ="pic"  >
                   </div>
               </div>

               <div class="row">
                   <div class="col m6 s12 input-field">
                       <input type="text" name ="FifthName"  >
                       <label for="">Conciler name</label>
                   </div>
               </div> 
                 <div class="row">
                   <div class="col m6 s12 ">
                       <label for="">photo</label>
                        <br>
                       <input type="file" name ="pic"  >
                   </div>
               </div>

               <div class="row">
                      <input type="submit" value="upload" class="btn"/>
               </div> 

            </form>
        </div>
    </div>
</div>