@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}


<h5>
    UpdateLinks
</h5>
<hr>
 <form action="UpdateLink" method="post" enctype="multipart/form-data" > 
     <div class="row">
        <div class="col m4">
           <label for="">Titile</label>
           <br>
           <input type="text" name="Title" required class="dh">
        </div>

    </div>
    <div class="row">
        <div class="col m4">
           <label for="">Image</label>
           <br>
           <input type="file" name="NewsPic" required>
        </div>

    </div>
      <div class="row">
        <div class="col m4 input-field">
        <select name="Catogary" required   style="direction: rtl; "  class="dh browser-default">
      <option value="" disabled selected   style="direction: rtl; "  class="dh "> ލިންކް ނެންގެވުމަށް</option>
      <option value="vs"   style="direction: rtl; "  class="dh">ވިސަން އަދި މިސަން</option>
      <option value="anounce"   style="direction: rtl; "  class="dh"> އެންގުންތަށް</option>
       <option value="airport"   style="direction: rtl; "  class="dh">އެއަރ ޕޯޓް</option>
      <option value="res"   style="direction: rtl; "  class="dh">މަސްޢޫލިއްޔަތު</option>
      <option value="IslandInfo"   style="direction: rtl; "  class="dh">ރަށާއި ބެހޭ މަޢުލޫމާތު</option>
       <option value="GO"   style="direction: rtl; "  class="dh">ސަރުކާރުގެ އިދާރާތައް </option>
       <option value="air"   style="direction: rtl; "  class="dh">ވިލާ އެއަރޕޯޓް </option>
       <option value="harbour"   style="direction: rtl; "  class="dh">މާމިގިލި ބަނދަރު</option>
        <option value="service"   style="direction: rtl; "  class="dh">ހިދުމަތްތައް</option>
        <option value="history"   style="direction: rtl; "  class="dh">މާމިގިލި  ގައި ހުތި މުހިންމު ތަންތަނުގެ މަޢުލޫމާތު </option>
        <!-- <option value="GH"   style="direction: rtl; "  class="dh">ގެސްޓް ހައުސް  </option> -->
        <option value="projects"   style="direction: rtl; "  class="dh">މަސްރޫއުތައް</option>
         <option value="bussiness"   style="direction: rtl; "  class="dh">ވިޔަފާރި</option>
          <!-- <option value="counciler">counciler</option> -->
             <option value="forms"   style="direction: rtl; "  class="dh"> ފޯމް /ޑައުންލޯޑް</option>
              <option value="runningrules"   style="direction: rtl; "  class="dh"> ޤަވައިދު /ޑައުންލޯޑް </option>
              <!-- <option value="meetingSummery">meeting summery (download)</option> -->
              <option value="proceduer"   style="direction: rtl; "  class="dh">އުސޫލުތައް /ޑައުންލޯޑް </option>
              <option value="report"   style="direction: rtl; "  class="dh" >ރިޕޯތް / ޑައުންލޯޑް</option>
              <option value="doc"   style="direction: rtl; "  class="dh">ލިޔުންތައް / ޑައުންލޯޑް</option>
              <!-- <option value="vission">vission</option> -->
              <option value="services"   style="direction: rtl; "  class="dh">ޙިދުމަތް</option>
              <option value="aboutIslandEn"   style="direction: rtl; "  class="dh">ރަށުގެ މަޢުލޫމާތު / އިނގިރޭސި</option>
              <option value="govermentAutEn"   style="direction: rtl; "  class="dh">ސަރުކާރުގެ އިދާރާތައް / އިނގިރޭސި</option>
              <option value="airportEn"   style="direction: rtl; "  class="dh">ވިލާ އެއަރޕޯޓް / އިންގިރޭސި</option>
              <option value="harbourEn"   style="direction: rtl; "  class="dh">މާމިގިލި ބަނދަރު / އިނގިރޭސި</option>
              <option value="specialLocEn"   style="direction: rtl; "  class="dh">މާމިގިލި މުހިންމު ތަންތަން / އިންގިރޭސި</option>
              <option value="ghouseEn"   style="direction: rtl; "  class="dh">ގެސްޓް ހައުސް / އިންގިރޭސި  </option>
              <option value="cafeyEn"   style="direction: rtl; "  class="dh" style="direction: rtl;> ކެފޭ / އިންގިރޭސި</option>
              <option value="bussinesEn" class="dh">ވިޔަފާރި / އިންގިރޭސި</option>
               
              <option value="news press" class="dh">ނޫސް ބަޔާން </option>
              <option value="finished & aprove" class="dh"> ނިންމުން </option>
              <option value="meeting agenda" class="dh"> އެޖެންޑާ</option>
              <option value="advertisement " class="dh">އިސްތިހާރު</option>
              <option value="Idhare" class="dh">އިދާރީ އޮންނިގަނޑު </option>
    </select>
          
    
        </div>

    </div>
    <div class="row">
        <div class="col m6 input-field " >

 <textarea id="textarea1" class="materialize-textarea" style="font-family: Faruma;direction: rtl;" name="Text" required></textarea>
          <label for="textarea1">Text</label>
        </div>
    </div>
     <div class="row">
        <div class="col m6 input-field " >

<input type="submit" name="upload" class="btn">
        </div>
    </div>
</form> 
