@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}


<h5>
    UpdateLinks
</h5>
<hr>
 <form action="UpdateLink" method="post" enctype="multipart/form-data" > 
     <div class="row">
        <div class="col m4">
           <label for="">Titile</label>
           <br>
           <input type="text" name="Title" required>
        </div>

    </div>
    <div class="row">
        <div class="col m4">
           <label for="">Image</label>
           <br>
           <input type="file" name="NewsPic" required>
        </div>

    </div>
      <div class="row">
        <div class="col m4 input-field">
        <select name="Catogary" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="vs">vission and mission</option>
       <option value="airport">Air port</option>
      <option value="res">responsibility</option>
      <option value="IslandInfo">Island Info</option>
       <option value="GO">goverment offices</option>
       <option value="air">villa airport</option>
       <option value="harbour">harbour</option>
        <option value="service">services</option>
        <option value="history">History sites</option>
        <option value="GH">guest house</option>
        <option value="projects">projects</option>
         <option value="bussiness">bussiness</option>
          <option value="counciler">counciler</option>
             <option value="forms">Form (download)</option>
              <option value="runningrules"> running rules (download)</option>
              <option value="meetingSummery">meeting summery (download)</option>
              <option value="proceduer">proceduer (download)</option>
              <option value="report">report (download)</option>
              <option value="doc">doc (download)</option>
              <option value="vission">vission</option>
              <option value="services">services</option>
              <option value="aboutIslandEn">about island (ENG)</option>
              <option value="govermentAutEn">goverment authority (ENG)</option>
              <option value="airportEn">Villa Airport (ENG)</option>
              <option value="harbourEn">Maamigili harbour (ENG)</option>
              <option value="specialLocEn">Maamigili special location (ENG)</option>
              <option value="ghouseEn">guest houses (ENG)</option>
              <option value="cafeyEn">cafey (ENG)</option>
              <option value="bussinesEn">bussiness(ENG)</option>
               
              <option value="news press">news press</option>
              <option value="finished & aprove">finished & aprove</option>
              <option value="meeting agenda">meeting ajenda</option>
              <option value="advertisement">advertisement</option>
              <option value="Idhare">Idhare Onigandu</option>
    </select>
           <label for="">link</label>
    
        </div>

    </div>
    <div class="row">
        <div class="col m6 input-field " >

 <textarea id="textarea1" class="materialize-textarea" style="font-family: Faruma;direction: rtl;" name="Text" required></textarea>
          <label for="textarea1">Text</label>
        </div>
    </div>
     <div class="row">
        <div class="col m6 input-field " >

<input type="submit" name="upload" class="btn">
        </div>
    </div>
</form> 
