<div class="card">
<div class="container center-align">
    <br>
   <h5 class="left-align">
      Guest Houses
   </h5>
   <hr>
<div class="row">
    <div class="col s12  left-align">
        <ul>
                  @foreach (var item in  ViewBag.ghouseEn)
        {
            <li>
                <a href="@Url.Action("GuestHouseEngInfo","Link",new{id=@item.Id})">
                       @item.TitleEng
                </a>
             
            </li>
      
        }
        </ul>
  
       
    </div>
</div>
</div>
</div>