<div class="card">
    <div class="container">
        <br>
<div class="col s12">
    <h5 style="font-family: Faruma" class="right-align" >ކެފޭ ތަކުގެ މަޢުލޫމާތު</h5><hr>
</div>

<div class="container">
@foreach (var item in ViewBag.cafey )
{
    <h5 style="font-family: Faruma" class="right-align">
        @item.Title
    </h5>
   <img src="~/cafey/@item.ImgUrl " alt="" class="responsive-img center-align" height="484px" width="750px">  
   <p class="dh right-align " style="text-align: justify; overflow-wrap: break-word; direction: rtl;">
       @item.Text
   </p>
}
</div>
</div>
</div>