<div class="container">
    <h5 class="dh right-align">މާމިގިލީ ބައިނަލް އަޤްވާމީ ބަނދަރު</h5>
    <hr>
    <div class="row">
        <div class="col s12 center-align">
                    @foreach (var item in ViewBag.harbour)
        {
            <img src="~/LinkPic/@item.ImgUrl" class="center-align responsive-img" width="700px" height="300px">
            <p class="dh right-align" style="direction: rtl; overflow-wrap: break-word;">
@item.Text
            </p>
        }
        </div>

    </div>
</div>