<div class="">
<div class="container">
    <br>
<h4 class="dh right-align">
           ހަބަރު   
        
</h4>
<hr>
<div class="row">
            <div class="col  s12 right">
               <!-- <h5 class="dh center-align" style="font-size: 20px;" ><strong>   ފަހުގެ ޙަބަރު   </strong></h5> -->
                 @foreach (var item in ViewBag.news)
                    {
           <div class="row">
               <div class="col s4"><img src="~/newsImage/@item.ImgUrl" class="responsive-img" height="262px" width="169px"></div>
                <div class="col s8 right-align"><a class="dh right-align" style="font-size: 19px;" href="@Url.Action("Index","News",new{id =@item.Id})">@item.Title</a></div>
           </div>
           <hr>
                   }
        </div>
</div>
</div>
</div>