<div class="card">
<div class="container">
    <br>
    <h5 class="dh right-align " style=" ">ގެސްޓް ހައުސް ތަކުގެ މަޢުލޫމާތު</h5>
            <hr>
    <br>
    <div class="row">
         
            @foreach (var item in  ViewBag.GH)
            {
                  <div class="col s12">
                      <h5 class=" dh right-align" style="direction: rtl;">@item.Title</h5>
                      <img src="~/LinkPic/@item.ImgUrl" class="center-align responsive-img" height="484px" width="750px">
                      <p class="dh right-align" style="direction: rtl; overflow-wrap: break-word;">
                          @item.Text
                      </p>
                      <br>
                      <hr>
                     </div>
            }
      
    </div>

</div>
</div>