<div class="card">
<div class="container">
    <br>
    <h5 class="dh right-align " style=" ">   މާމިގިލީގައި ހުންނަ މުހިންމު ތަންތަނުގެ މަޢުލޫމާތު</h5>
            <hr>
    <br>
    <div class="row">
        <div class="col s12 dh right-align">
             <ul>
                   @foreach (var item in  ViewBag.history)
            {
                <li>
                    <a href="@Url.Action("HistoryInfo","Link",new{id=@item.Id})">
                        @item.Title
                    </a>
                    
                </li>
                  
            }
         </ul>
        </div>
        
         
      
    </div>

</div>
</div>