.dh{
    font-family: Faruma;
    
}
body{
    margin-top: 12px;
}
.dropdown-menu { min-width: 500px }

.background {
    background-color: #98FB98;
}

@font-face {
    font-family: 'faseyha';
    src: url('faseyha.otf');
    src: local('SF faseyha Bold'), local('faseyha Bold'), url('faseyha.otf') format('truetype');
    }